@import url('/assets/vector.svg');

.task {
  display: grid;
  grid-template-columns: 24px 10fr 24px;
  align-items: center;
  padding: 16px;
  gap: 12px;

  min-height: 72px;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.taskName {
  font-size: 0.875rem;
  color: var(--gray-100);
}

.taskNameWhenChecked {
  font-size: 0.875rem;
  text-decoration-line: line-through;
  color: var(--gray-300);
}

.task input[type="checkbox"] {
  background: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--blue);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background: var(--purple-dark);
  border: 0;
  opacity: 0.9;
}

.task input[type="checkbox"]:checked:hover {
  background: var(--purple);
  opacity: 0.9;
}

.task input[type="checkbox"]:checked,
.task input[type="checkbox"]:checked:hover {
  background-image: url("../src/assets/vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}

.task input[type="checkbox"]:hover {
  background: var(--blue-dark);
}

.task button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
}

.task label {
  display: flex;
  align-items: center;
}

.task + .task {
  margin-top: 0.75rem;
}
